#!/usr/bin/env bash
set -euo pipefail

source {{ .chezmoi.sourceDir }}/.scripts/ansi.sh
source {{ .chezmoi.sourceDir }}/.scripts/base.sh


if [[ "$OSTYPE" != "linux-gnu"* ]]; then
	ansi --yellow "Not a Linux platform. Skipping."
	exit 0
fi

if [ ! -f "/etc/arch-release" ]; then
	ansi --yellow "Not running arch. Skipping."
fi

install_yay_deps() {
    ansi --bg-green --black "Updating pacman"
    
    sudo pacman -Syu 

    ansi --bg-green --black "Installing required packages to install YAY"
    
    # Define the packages as an array
    local packages=("git" "base-devel" "go")
    
    ansi --bg-green --black "Installing packages: ${packages[*]}"
    
    # Install the packages using pacman
    for package in "${packages[@]}"; do
      ansi --bg-green --black "Installing $package"
      if sudo pacman -Syu --noconfirm --needed "$package"; then
          ansi --bg-green --black "Installation of $package was successful."
      else
          ansi --bg-red "Installation of $package failed."
          return 1
      fi
    done
    
    # Verify that each package was installed
    for package in "${packages[@]}"; do
        if pacman -Q "$package" &> /dev/null; then
            ansi --bg-green --black "$package is installed."
        else
            ansi --bg-red "$package is not installed."
            return 1
        fi
    done
}


install_yay_deps
