#!/usr/bin/env bash
set -euo pipefail

source {{ .chezmoi.sourceDir }}/.scripts/ansi.sh
source {{ .chezmoi.sourceDir }}/.scripts/base.sh

if [[ "$OSTYPE" != "linux-gnu"* ]]; then
	ansi --yellow "Not a Linux platform. Skipping."
	exit 0
fi

if [ ! -f "/etc/arch-release" ]; then
	ansi --yellow "Not running arch. Skipping."
fi

ansi --bg-green "Installing Xorg and I3"
yay -Sy --noconfirm --needed i3 rofi polybar neovim dunst feh lightdm lightdm-gtk-greeter arc-gtk papirus-icon-theme xorg xorg-init

