#!/usr/bin/env bash
set -euo pipefail

source {{ .chezmoi.sourceDir }}/.scripts/ansi.sh
source {{ .chezmoi.sourceDir }}/.scripts/base.sh

if [[ "$OSTYPE" != "linux-gnu"* ]]; then
	ansi --yellow "Not a Linux platform. Skipping."
	exit 0
fi

if [ ! -f "/etc/arch-release" ]; then
	ansi --yellow "Not running arch. Skipping."
fi

install_openssh() {
    local packages=("openssh")
    
    ansi --bg-green --black "Installing packages: ${packages[*]}"
    
    # Install the packages using yay
    for package in "${packages[@]}"; do
      ansi --bg-green --black "Installing $package"
      if yay -Syu --noconfirm --needed "$package"; then
        ansi --bg-green --black "Installation of $package was successful."
      else
        ansi --bg-red "Installation of $package failed."
        return 1
      fi
    done
    
    # Check if the installation was successful
    if [ $? -eq 0 ]; then
        ansi --bg-green --black "Installation of packages ${packages[*]} was successful."
    else
        ansi --bg-red --black "Installation of packages ${packages[*]} failed."
        return 1
    fi
    
    # Verify that each package was installed
    for package in "${packages[@]}"; do
        if pacman -Q "$package" &> /dev/null; then
            ansi --bg-green --black "$package is installed."
        else
            ansi --bg-red --black "$package is not installed."
        fi
    done
}

enable_ssh() {
  ansi --bg-green --black "Enabling OpenSSH service"

  sudo systemctl enable --now sshd

  if [ $? -eq 0 ]; then
    ansi --bg-green --black "Enabling of sshd was successful."
  else
    ansi --bg-red --black "Enabling of sshd failed."
    return 1
  fi
}

print_machine_ip() {
  # Get the current IP address
  ip_address=$(ip -4 addr show | grep -oP '(?<=inet\s)\d+(\.\d+){3}')

  # Check if we found an IP address
  if [ -z "$ip_address" ]; then
      ansi --bg-red --black "No IP address found."
  else
      ansi --bg-green --black "Current IP address: $ip_address"
  fi
}

install_openssh
enable_ssh
print_machine_ip