#!/usr/bin/env bash
set -euo pipefail

source {{ .chezmoi.sourceDir }}/.scripts/ansi.sh
source {{ .chezmoi.sourceDir }}/.scripts/base.sh


if [[ "$OSTYPE" != "linux-gnu"* ]]; then
	ansi --yellow "Not a Linux platform. Skipping."
	exit 0
fi

if [ ! -f "/etc/arch-release" ]; then
	ansi --yellow "Not running arch. Skipping."
fi

ansi --bg-green --black "Installing required packages to install YAY"

install_yay_deps() {
    local packages="git base-devel go"
    
    ansi --bg-green --black "Installing packages: $packages"
    
    # Install the packages using pacman
    for package in "${packages[@]}"; do
      ansi --bg-green --black "Installing $package" 
      sudo pacman -S --noconfirm --needed "$package"
    done
    
    # Check if the installation was successful
    if [ $? -eq 0 ]; then
        ansi --bg-green --black "Installation of packages $packages was successful."
    else
        ansi --bg-red "Installation of packages $packages failed."
        return 1
    fi
    
    # Verify that each package was installed
    for package in "${packages[@]}"; do
        if pacman -Q "$package" &> /dev/null; then
            ansi --bg-green --black "$package is installed."
        else
            ansi --bg-red "$package is not installed."
        fi
    done
}

install_yay_deps
